<!DOCTYPE html>
<html lang="en" class="antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>giftAnon</title>
    <meta name="description" content="">
	<meta name="keywords" content="">
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <link rel="stylesheet" href="giftAnon\flask_app\static\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handlee&family=Nanum+Pen+Script&family=Palanquin:wght@100;200;300;400;500;600&family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        body
        {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
            background-image: url('../static/images/by_category.jpg');
            background-position: center;
        }

    </style>
</head>
<body>
    <div class="wrapper">
    <!-- navbar -->
        <div class="navbar">
            <h1 class="greeting">Hi, {{session['first_name']}}!</h1>

            <div class="links-right">
                <a href="#" class="text">Home</a>
                <a href="#" class="text">My Requests</a>
                <a href="#" class="text">Gifts Given</a>
            </div>
            
        </div>
        <!-- /navbar -->

        <!-- container -->
        <div class="container">
            <!-- main left side -->
            <div class="main-left">

                <!-- home-left-top -->
                <div class="home-left-top">
                    <h2 class="gift-requests">Gift List by (Category Name)</h2>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td>QTY</td>
                                <td>Action</td>
                            </tr>
                        </thead>

                        <tbody class="">
                            <tr>
                                <td><a href="#" class="">Twin Bedframe</a></td>
                                <td><a href="#" class="">3</a></td>
                                <td><a href="#" class="">Gift</a></td>
                            </tr>

                            <tr>
                                <td><a href="#" class="">Twin Size Comforter</a></td>
                                <td><a href="#" class="">3</a></td>
                                <td><a href="#" class="">Gift</a></td>
                            </tr>

                            <tr>
                                <td><a href="#" class="">Twin Sheet Set</a></td>
                                <td><a href="#" class="">6</a></td>
                                <td><a href="#" class="">Gift</a></td>
                            </tr>

                            <tr>
                                <td><a href="#" class="">Standard Pillow</a></td>
                                <td><a href="#" class="">6</a></td>
                                <td><a href="#" class="">Gift</a></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- /home-left-top -->

            <!-- home-left-bottom -->
            <div class="home-left-bottom">
                <!-- THIS IS FOR THE API LINK TO THE MAP -->
                <!-- I DON'T KNOW HOW TO ADD IT SO I'LL NEED HELP OR I CAN GOOGLE IT -->
            </div>
            <!-- /home-left-bottom -->

            </div>
            <!-- /main left side -->


            <!-- main right side -->
            <div class="main-right">
                <!-- background-image -->
                <!-- THIS AREA IS BLANK FOR THE IMAGE TO NOT BE COVERED -->

            </div>
            <!-- /right side -->

        </div>
        <!--/container-->
    </div>
    <!-- /wrapper -->
</body>
</html>