<!DOCTYPE html>
<html lang="en" class="antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>giftAnon</title>
    <meta name="description" content="">
	<meta name="keywords" content="">
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handlee&family=Nanum+Pen+Script&family=Palanquin:wght@100;200;300;400;500;600&family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        body
        {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
            background-image: url('../static/images/by_city.jpg');
            background-position: center;
        }

    </style>
</head>
<body>
    <div class="wrapper">
    <!-- navbar -->
        <div class="navbar">
            <h1 class="greeting">Hi, {{session['first_name']}}!</h1>

            <div class="links-right">
                <a href="/home" class="text">Home</a>
                {% if session['role'] == 'Admin' %}
                    <a href="/my_gifts" class="text">My Requests</a>
                {% else %}
                    <a href="/gift/given" class="text">Gifts Given</a>
                {% endif %}
                <a href="/logout" class="text">Logout</a>
            </div>
            
        </div>
        <!-- /navbar -->

        <!-- container -->
        <div class="container">
            <!-- main left side -->
            <div class="main-left">

                <!-- home-left-top -->
                <div class="home-left-top">
                    <h2 class="gift-requests">Gift List by {{ citystring }}</h2>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td>QTY</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody class="">
                            {% for city in city_gifts %}
                            <tr>
                                {% if not city.purchaser_id %}
                                <td>{{ city.item_name }}</td>
                                <td>{{ city.quantity }}</td>
                                {% if city.user_id == session['id'] %}
                                    <td><a href="/update/{{city.id}}">Update</a> | <a href="/cancel/{{city.id}}">Cancel</a></td>
                                {% endif %}
                                {% if (city.user_id != session['id'] and session['role'] == 'User') %}
                                    <td><a href="/gift/{{city.id}}/{{session['id']}}">Gift</a></td>
                                {% endif %}
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /home-left-top -->

            <!-- home-left-bottom -->
            <div class="home-left-bottom">

            </div>
            <!-- /home-left-bottom -->

            </div>
            <!-- /main left side -->


            <!-- main right side -->
            <div class="main-right">
                <!-- background-image: url('./assets/welcome.jpg') -->


            </div>
            <!-- /right side -->

        </div>
        <!--/container-->
    </div>
    <!-- /wrapper -->
</body>
</html>