<!DOCTYPE html>
<html lang="en" class="antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>giftAnon</title>
    <meta name="description" content="">
	<meta name="keywords" content="">
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handlee&family=Nanum+Pen+Script&family=Palanquin:wght@100;200;300;400;500;600&family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        body
        {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
            background-image: "{{url_for('static',filename='images/facility.jpg')}}";
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="wrapper">
    <!-- navbar -->
        <div class="navbar">
            <h1 class="greeting">Hi, {{session['first_name']}}!</h1>

            <div class="links-right">
                <a href="/home" class="text">Home</a>
                {% if session['role'] == 'Admin' %}
                    <a href="/my_gifts" class="text">My Requests</a>
                {% endif %}
                <a href="/gift/given" class="text">Gifts Given</a>
                <a href="/viewall" class="text">View All Gifts</a>
                <a href="/logout" class="text">Logout</a>
            </div>
            
        </div>
        <!-- /navbar -->

        <!-- container -->
        <div class="container">
            <!-- main left side -->
            <div class="main-left">

                <!-- home-left-top -->
                <div class="home-left-top">
                    <div class="gift-requests">
                        <h1>Thank you for your donation!</h1>
                        <p>We'll be on the lookout for your {{one_gift.item_name}} at the address below! Please feel free to deliver in-person or through the mail:</p>
                    </div>
                    <div>
                    </div>
                </div>
                <!-- /home-left-top -->

                <!-- home-left-bottom -->
                <div class="home-left-bottom">
                    {% if one_gift.city == 'houston' and one_gift.facility == 'foodbank' %}
                            <p>Houston Food Bank</p>
                            <p>535 Portwall St.</p>
                            <p>Houston, TX  77029</p>
                            {% endif %}
                            {% if one_gift.city == 'houston' and one_gift.facility == 'salvationarmy' %}
                            <p>The Salvation Army</p>
                            <p>1717 Congress St.</p>
                            <p>Houston, TX 77002</p>
                            {% endif %}
                            {% if one_gift.city == 'houston' and one_gift.facility == 'reliefcharity' %}
                            <p>Emergency Aid Coalition</p>
                            <p>5401 Fannin St.</p>
                            <p>Houston, TX 77004</p>
                            {% endif %}
                            {% if one_gift.city == 'houston' and one_gift.facility == 'goodwill' %}
                            <p>Goodwill Houston Select Stores</p>
                            <p>2030 Westheimer Rd.</p>
                            <p>Houston, TX 77019</p>
                            {% endif %}
                            {% if one_gift.city == 'maui' and one_gift.facility == 'foodbank' %}
                            <p>Maui Food Bank</p>
                            <p>760 Kolu St.</p>
                            <p>Wailuku, HI 96793</p>
                            {% endif %}
                            {% if one_gift.city == 'maui' and one_gift.facility == 'salvationarmy' %}
                            <p>The Salvation Army Family Store & Donation Center</p>
                            <p>135 Shaw St.</p>
                            <p>Lahaina, HI  96761</p>
                            {% endif %}
                            {% if one_gift.city == 'maui' and one_gift.facility == 'goodwill' %}
                            <p>Goodwill Store and Donation Center</p>
                            <p>250 Alamaha St. N10B</p>
                            <p>Kahului, HI  96732</p>
                            {% endif %}
                            {% if one_gift.city == 'maui' and one_gift.facility == 'reliefcharity' %}
                            <p>Maui United Way</p>
                            <p>95 Mahalani St. #24</p>
                            <p>Wailuku, HI 96793</p>
                            {% endif %}
                            {% if one_gift.city == 'losangeles' and one_gift.facility == 'foodbank' %}
                            <p>Los Angeles Regional Food Bank</p>
                            <p>1734 E. 41st St.</p>
                            <p>Los Angeles, CA  90058</p>
                            {% endif %}
                            {% if one_gift.city == 'losangeles' and one_gift.facility == 'goodwill' %}
                            <p>Goodwill Southern California Store & Donation Center</p>
                            <p>4575 Hollywood Blvd.</p>
                            <p>Los Angeles, CA  90027</p>
                            {% endif %}
                            {% if one_gift.city == 'losangeles' and one_gift.facility == 'reliefcharity' %}
                            <p>Catholic Charities of Los Angeles, Inc.</p>
                            <p>1531 James M. Wood Blvd.</p>
                            <p>Los Angeles, CA  90017</p>
                            {% endif %}
                            {% if one_gift.city == 'losangeles' and one_gift.facility == 'salvationarmy' %}
                            <p>Salvation Army the Siemon Center Central Avenue</p>
                            <p>7651 S. Central Ave.</p>
                            <p>Los Angeles, CA  90001</p>
                            {% endif %}
                            {% if one_gift.city == 'newyork' and one_gift.facility == 'goodwill' %}
                            <p>Goodwill NYNJ Store & Donation Center</p>
                            <p>1704 2nd Ave.</p>
                            <p>New York, NY 10128</p>
                            {% endif %}
                            {% if one_gift.city == 'newyork' and one_gift.facility == 'salvationarmy' %}
                            <p>The Salvation Army Times Square Corps Community Center</p>
                            <p>315 W. 47th St.</p>
                            <p>New York, NY 10036</p>
                            {% endif %}
                            {% if one_gift.city == 'newyork' and one_gift.facility == 'reliefcharity' %}
                            <p>New York Disaster Interfaith Services (NYDIS)</p>
                            <p>4 W. 43rd. St. Suite 407</p>
                            <p>New York, NY 10036</p>
                            {% endif %}
                            {% if one_gift.city == 'newyork' and one_gift.facility == 'foodbank' %}
                            <p>Grand Central Neighborhood Social Services Food Distribution Center</p>
                            <p>120 E. 32nd St.</p>
                            <p>New York, NY 10016</p>
                            {% endif %}


                    <!-- THIS IS FOR THE API LINK TO THE MAP -->
                    <!-- I DON'T KNOW HOW TO ADD IT SO I'LL NEED HELP OR I CAN GOOGLE IT -->
                </div>
                <!-- /home-left-bottom -->

            </div>
            <!-- /main left side -->


            <!-- main right side -->
            <div class="main-right">
                {% if one_gift.city == 'newyork' and one_gift.facility == 'foodbank' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=40.74508406562465&lon=-73.98147086458502&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'newyork' and one_gift.facility == 'reliefcharity' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=40.75432093994695&lon=-73.98138503237205&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'newyork' and one_gift.facility == 'salvationarmy' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=40.76089110584387&lon=-73.98833731606148&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'newyork' and one_gift.facility == 'goodwill' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=40.77949218388696&lon=-73.95039121606149&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'losangeles' and one_gift.facility == 'salvationarmy' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=33.97107964167361&lon=-118.25775154596941&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'losangeles' and one_gift.facility == 'reliefcharity' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=34.05155402121357&lon=-118.27354426195576&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'losangeles' and one_gift.facility == 'goodwill' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=34.110450665981624&lon=-118.28878398502036&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'losangeles' and one_gift.facility == 'foodbank' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=34.02861366081459&lon=-118.24450491707418&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'houston' and one_gift.facility == 'reliefcharity' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=29.728350950238497&lon=-95.38688939164498&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'houston' and one_gift.facility == 'foodbank' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=29.790548728759354&lon=-95.27359274380517&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'houston' and one_gift.facility == 'goodwill' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=29.754396591641143&lon=-95.40748847370813&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'houston' and one_gift.facility == 'salvationarmy' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=29.768310929288454&lon=-95.3553032748093&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'maui' and one_gift.facility == 'foodbank' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=20.904942564869028&lon=-156.4865295148964&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'maui' and one_gift.facility == 'goodwill' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=20.886904666309356&lon=-156.459313228389&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'maui' and one_gift.facility == 'reliefcharity' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=20.88706541377834&lon=-156.48820664188148&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
                {% if one_gift.city == 'maui' and one_gift.facility == 'salvationarmy' %}
                    <iframe src="https://embed.waze.com/iframe?zoom=15&lat=20.871663675800402&lon=-156.6748648548698&pin=1"
                    width="500" height="400"></iframe>
                {% endif %}
        
            </div>
            <!-- /main right side -->

        </div>
        <!--/container-->
    </div>
    <!-- /wrapper -->
</body>
</html>