<!DOCTYPE html>
<html lang="en" class="antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>giftAnon</title>
    <meta name="description" content="">
	<meta name="keywords" content="">
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handlee&family=Nanum+Pen+Script&family=Palanquin:wght@100;200;300;400;500;600&family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        body
        {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
            background-image: url('../static/images/gifts_given.jpg');
            background-position: center;
        }

    </style>
</head>
<body>
    <div class="wrapper">
    <!-- navbar -->
        <div class="navbar">
            <h1 class="greeting">Hi, {{session['first_name']}}!</h1>

            <div class="links-right">
                <a href="/home" class="text">Home</a>
                {% if session['role'] == 'Admin' %}
                    <a href="/my_gifts" class="text">My Requests</a>
                {% endif %}
                <a href="/viewall" class="text">View All Gifts</a>
                <a href="/logout" class="text">Logout</a>
            </div>
            
        </div>
        <!-- /navbar -->

        <!-- container -->
        <div class="container">
            <!-- main left side -->
            <div class="main-left">

                <!-- home-left-top -->
                <div class="home-left-top">
                    <h2 class="gift-requests">Gifts Given</h2>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td>City</td>
                                <td>Facility</td>
                                <td>QTY</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody class="">
                            {% for gift in user_gifts %}
                            <tr>
                                <td><a href="/gift/{{gift.id}}/{{session['id']}}">{{ gift.item_name }}</a></td>
                                    {% if gift.city == 'newyork' %}
                                        <td>New York, NY</td>
                                    {% endif %}
                                    {% if gift.city == 'losangeles' %}
                                        <td>Los Angeles, CA</td>
                                    {% endif %}
                                    {% if gift.city == 'houston' %}
                                        <td>Houston, TX</td>
                                    {% endif %}
                                    {% if gift.city == 'maui' %}
                                        <td>Maui, HI</td>
                                    {% endif %}
                                    {% if gift.facility == 'goodwill' %}
                                        <td>Goodwill</td>
                                    {% endif %}
                                    {% if gift.facility == 'salvationarmy' %}
                                        <td>Salvation Army</td>
                                    {% endif %}
                                    {% if gift.facility == 'reliefcharity' %}
                                        <td>Relief Charity</td>
                                    {% endif %}
                                    {% if gift.facility == 'foodbank' %}
                                        <td>Food Bank</td>
                                    {% endif %}
                                <td>{{ gift.quantity }}</td>
                                <td><a href="/repop/{{gift.id}}">Cancel</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /home-left-top -->

            <!-- home-left-bottom -->
            <div class="home-left-bottom">
                <!-- THIS IS FOR THE API LINK TO THE MAP -->
                <!-- I DON'T KNOW HOW TO ADD IT SO I'LL NEED HELP OR I CAN GOOGLE IT -->
            </div>
            <!-- /home-left-bottom -->

            </div>
            <!-- /main left side -->


            <!-- main right side -->
            <div class="main-right">
                <!-- background-image -->


            </div>
            <!-- /right side -->

        </div>
        <!--/container-->
    </div>
    <!-- /wrapper -->
</body>
</html>