<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>TV Shows</title>
</head>
<body>
    <div class="dashboard">
        <div class="top">
            <h2>Howdy {{ session['first_name'] }}!</h2>
            <div class="banner">
                <a href="/shows/new">+ Create</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div class="bottom">
            <div>
                <h3>All TV Shows:</h3>
                <div style="height:325px;width:600px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
                    <table>
                        <th>
                            <tr>
                                <td>Title</td>
                                <td>Network</td>
                                <td>Release Date</td>
                                <td>Actions</td>
                            </tr>
                        </th>
                        {% for show in shows %}
                            <tr>
                                <td>{{ show.title }}</td>
                                <td>{{ show.network }}</td>
                                <td>{{ show.date }}</td>
                                    {% if show.maker.id == session['id'] %}
                                        <td><a href="/shows/{{show.idshows}}">show</a> | <a href="/shows/edit/{{show.idshows}}">edit</a> | <a href="/delete/{{show.idshows}}">delete</a></td>
                                        {% else %}
                                        <td><a href="/shows/{{show.idshows}}">show</a></td>
                                    {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->
