<!DOCTYPE html>
<html lang="en" class="antialiased">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>giftAnon</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handlee&family=Nanum+Pen+Script&family=Palanquin:wght@100;200;300;400;500;600&family=Sulphur+Point:wght@300;400;700&display=swap"
        rel="stylesheet">
    <style type="text/css">
        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
            background-image: url('../static/images/welcome.jpg');
            background-position: center;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <!-- navbar -->
        <div class="navbar">
            <h1 class="greeting">Hi, {{session['first_name']}}!</h1>

            <div class="links-right">
                <a href="/home" class="text">Home</a>
                {% if session['role'] == 'Admin' %}
                    <a href="/my_gifts" class="text">My Requests</a>
                {% else %}
                    <a href="/gift/given" class="text">Gifts Given</a>
                {% endif %}
                <a href="/logout" class="text">Logout</a>
            </div>

        </div>
        <!-- /navbar -->

        <!-- container -->
        <div class="container">
            <!-- main left side -->
            <div class="main-left">

                <!-- home-left-top -->
                <div class="home-left-top">
                    <h2 class="gift-requests">Gift Requests</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Select by City</td>
                                <td>Select by Facility</td>
                                <td>Select by Category</td>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr>
                                <td><a href="/city/newyork" class="">New York NY</a></td>
                                <td><a href="/facility/goodwill" class="">Goodwill</a></td>
                                <td><a href="/category/clothing" class="">Clothing</a></td>
                            </tr>
                            <tr>
                                <td><a href="/city/losangeles" class="">Los Angeles CA</a></td>
                                <td><a href="/facility/salvationarmy" class="">Salvation Army</a></td>
                                <td><a href="/category/homegoods" class="">Home Goods</a></td>
                            </tr>
                            <tr>
                                <td><a href="/city/maui" class="">Maui HI</a></td>
                                <td><a href="/facility/foodbank" class="">Food Bank</a></td>
                                <td><a href="/category/groceries" class="">Groceries</a></td>
                            </tr>
                            <tr>
                                <td><a href="/city/houston" class="">Houston TX</a></td>
                                <td><a href="/facility/reliefcharity" class="">Relief Charity</a></td>
                                <td><a href="/category/water" class="">Water (Case)</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /home-left-top -->

                <!-- home-left-bottom -->
                <div class="home-left-bottom">
                    <div class="links-left-bottom">
                        {% if session['role'] == 'Admin' %}
                            <button><a href="/item/custom">Create A Gift Request!</a></button>
                        {% endif %}
                    </div>
                    <div class="links-left-bottom">
                        <button><a href="/viewall">View All Gifts</a></button>
                    </div>
                </div>
                <!-- /home-left-bottom -->

            </div>
            <!-- /main left side -->


            <!-- main right side -->
            <div class="main-right">
                <!-- background-image -->


            </div>
            <!-- /right side -->

        </div>
        <!--/container-->
    </div>
    <!-- /wrapper -->
</body>

</html>