<!DOCTYPE html>
<html lang="en" class="antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>giftAnon</title>
    <meta name="description" content="">
	<meta name="keywords" content="">
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handlee&family=Nanum+Pen+Script&family=Palanquin:wght@100;200;300;400;500;600&family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        body
        {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
            background-image: url('../static/images/items.jpg');
            background-position: center;
        }

    </style>
</head>
<body>
    <div class="wrapper">
    <!-- navbar -->
        <div class="navbar">
            <h1 class="greeting">Hi, {{session['first_name']}}!</h1>
            <div class="links-right">
                <a href="/home" class="text">Home</a>
                {% if session['role'] == 'Admin' %}
                    <a href="/my_gifts" class="text">My Requests</a>
                {% else %}
                    <a href="/gift/given" class="text">Gifts Given</a>
                {% endif %}
                <a href="/logout" class="text">Logout</a>
            </div>
        </div>
        <!-- /navbar -->

        <!-- container -->
        <div class="container">
            <!-- main left side -->
            <div class="main-left">

                <!-- home-left-top -->
                <div class="home-left-top">
                    <div class="form-group">
                        <form action="/create/item" method="post" class="purchase">
                            <div class="form-group">
                                <label for="item_name" class="">Item Name: </label>
                                <input type="text" name="item_name" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <label for="quantity" class="dropbtn">Quantity: </label>
                                <select id="quantity" class="dropdown-content" name="quantity" onchange="selectOption(this)">
                                    <option value="Select Quantity" selected="selected" hidden>--Select Quantity--</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="city" class="dropbtn">City: </label>
                                <select id="city" class="dropdown-content" name="city"  onchange="selectOption(this)">
                                        <option value="" selected="selected" hidden>--Select City--</option>
                                        <option value="newyork">New York, NY</option>
                                        <option value="maui">Maui, HI</option>
                                        <option value="houston">Houston, TX</option>
                                        <option value="losangeles">Los Angeles, CA</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="facility" class="dropbtn">Facility: </label>
                                <select id="facility" class="dropdown-content" name="facility"  onchange="selectOption(this)">
                                        <option value="" selected="selected" hidden>--Select Facility--</option>
                                        <option value="goodwill">Goodwill</option>
                                        <option value="salvationarmy">Salvation Army</option>
                                        <option value="foodbank">Food Bank</option>
                                        <option value="reliefcharity">Relief Charity</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="category" class="dropbtn">Category: </label>
                                <select id="category" class="dropdown-content" name="category"  onchange="selectOption(this)">
                                        <option value="" selected="selected" hidden>--Select Facility--</option>
                                        <option value="clothing">Clothing</option>
                                        <option value="homegoods">Home Goods</option>
                                        <option value="groceries">Groceries</option>
                                        <option value="water">Water (Case)</option>
                                </select>
                            </div>
                            <button class="links-left-bottom">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- /home-left-top -->

                <!-- home-left-bottom -->
                <div class="home-left-bottom">
                    <div class="login">
                        {% with messages = get_flashed_messages(category_filter = ['purchase']) %}
                            {% if messages %}
                            <div class="" role="alert">
                                {% for message in messages %}
                                <strong>{{message}}</strong><br />
                                {% endfor %}
                            </div>
                            {% endif %}
                        {% endwith %}
                        <!-- <form action=""> -->
                            <button class="links-left-bottom"></button>
                        <!-- </form> -->
                    </div>
                </div>
                <!-- /home-left-bottom -->

            </div>
            <!-- /main left side -->


            <!-- main right side -->
            <div class="main-right">
                <!-- background-image: url('./assets/welcome.jpg') -->
                <!-- THIS AREA IS BLANK FOR THE IMAGE TO NOT BE COVERED -->

            </div>
            <!-- /right side -->

        </div>
        <!--/container-->
    </div>
    <!-- /wrapper -->
</body>
</html>