<!DOCTYPE html>
<html lang="en" class="antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>giftAnon</title>
    <meta name="description" content="">
	<meta name="keywords" content="">
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handlee&family=Nanum+Pen+Script&family=Palanquin:wght@100;200;300;400;500;600&family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        body
        {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
            background-image: url('../static/images/loginReg.jpg');
            background-position: center;
        }

    </style>
</head>
<body>
    <div class="wrapper">
        <!-- navbar -->
        <div class="login-navbar">
            <h1 class="login-greeting">Welcome to giftAnon</h1>
            <p class="login-p">A gifting platfrom to make the world a better place </p>
        </div>
        <!-- /navbar -->

        <!-- container -->
        <div class="container">
            <!-- main-left -->
            <div class="login-main-left">
                <!-- login_register left side -->
                <div class="register-left-top">
                    <form action="/register/user" method="post" class="register">
                        <h2 class="">Register</h2>
                        <!-- {% with messages = get_flashed_messages(category_filter = ['register']) %} -->
                            <!-- {% if messages %} -->
                            <!-- <div class="" role="alert"> -->
                                <!-- <strong> Flash</strong> -->
                                <!-- {% for message in messages %} -->
                                <!-- <p>{{message}}</p> -->
                                <!-- {% endfor %} -->
                            <!-- </div> -->
                            <!-- {% endif %} -->
                        <!-- {% endwith %} -->
                        <div class="form-group">
                            <label for="first_name" class="login-text">First Name: </label>
                            <input type="text" name="first_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name" class="login-text">Last Name: </label>
                            <input type="text" name="last_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="login-text">Email: </label>
                            <input type="text" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="login-text">Password: </label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password" class="login-text">Confirm Password: </label>
                            <input type="password" name="confirm_password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="role" class="login-text">Role: </label>
                            <select id="role" class="login-text" name="role"  onchange="selectOption(this)">
                                <option value="Select Role" selected="selected" hidden>--Select Role--</option>
                                <option value="User">User</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                        <input type="submit" value="Register" class="button-register">
                    </form>
                </div>
                <!-- /register-left-top-->


                <div class="login-left-bottom">
                    <form action="/login" method="post" class="login">
                        <h2 class="">Login</h2>
                        <!-- {% with messages = get_flashed_messages(category_filter = ['login']) %} -->
                            <!-- {% if messages %} -->
                            <!-- <div class="" role="alert"> -->
                                <!-- <strong> Flash</strong> -->
                                <!-- {% for message in messages %} -->
                                <!-- <p>{{message}}</p> -->
                                <!-- {% endfor %} -->
                            <!-- </div> -->
                            <!-- {% endif %} -->
                        <!-- {% endwith %} -->
                        <div class="form-group">
                            <label for="email" class="">Email: </label>
                            <input type="text" name="email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="">Password: </label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <input type="submit" value="Login" class="button-login">
                    </form>
                </div>
                <!-- /login-left-bottom -->

            </div>
            <!-- /main-left -->

            <!-- main-right side -->
            <div class="login-main-right">
                <!-- <img src="./assets/welcome.jpg" class="image"> -->

            </div>
            <!-- /main-right side -->

        </div>
        <!--/container-->
    </div>
    <!-- /wrapper -->
</body>
</html>
