<!DOCTYPE html>
<html lang="en" class="antialiased">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>giftAnon</title>
    <meta name="description" content="">
	<meta name="keywords" content="">
	<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel=" stylesheet">
    <link rel="stylesheet" href="giftAnon\flask_app\static\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Handlee&family=Nanum+Pen+Script&family=Palanquin:wght@100;200;300;400;500;600&family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <style type="text/css">
        body
        {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: contain;
            background-image: url('../static/images/my_request.jpg');
            background-position: center;
        }
    </style>
</head>
<body>
    <div class="wrapper">
    <!-- navbar -->
        <div class="navbar">
            <h1 class="greeting">Hi, {{session['first_name']}}!</h1>

            <div class="links-right">
                <a href="/home" class="text">Home</a>
                {% if session['role'] == 'Admin' %}
                    <a href="/my_gifts" class="text">My Requests</a>
                {% endif %}
                <a href="/logout">Logout</a>
            </div>
            
        </div>
        <!-- /navbar -->

        <!-- container -->
        <div class="container">
            <!-- main left side -->
            <div class="main-left">

                <!-- home-left-top -->
                <div class="home-left-top">
                    <h2 class="gift-requests">My Gift Requests</h2>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <td>City</td>
                                <td>Facility</td>
                                <td>Category</td>
                                <td>Item</td>
                                <td>QTY</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody class="">
                            {% for gift in user_gifts %}
                            <tr>
                                <td>{{ gift.city }}</td>
                                <td>{{ gift.facility }}</td>
                                <td>{{ gift.category }}</td>
                                <td>{{ gift.item_name }}</td>
                                <td>{{ gift.quantity }}</td>
                                <td><a href="/cancel/{{gift.id}}">Cancel</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /home-left-top -->

                <!-- home-left-bottom -->
                <div class="home-left-bottom">
                    <div class="links-left-bottom">
                        <a href="/item/custom" class="">Need Something Else?</a>
                    </div>
                <!-- THIS IS FOR THE API LINK TO THE MAP  -->
                <!-- I DON'T KNOW HOW TO ADD IT SO I'LL NEED HELP OR I CAN GOOGLE IT -->
                </div>
                <!-- /home-left-bottom -->

            </div>
            <!-- /main left side -->


            <!-- main right side -->
            <div class="main-right">
                <!-- background-image -->
                <!-- THIS AREA IS BLANK FOR THE IMAGE TO NOT BE COVERED -->


            </div>
            <!-- /right side -->

        </div>
        <!--/container-->
    </div>
    <!-- /wrapper -->
</body>
</html>