<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>TV Shows</title>
</head>
<body>
    <div class="view1">
    <div class="updatetop">
        <div class="topright">
            <a href="/shows">TV Shows</a> <a href="/logout">logout</a>
        </div>
    </div>
    <div class="middleview">
        <h3>{{ one_show.title }}</h3>
    </div>
    <div class="bottomview">
        <table class="table1">
            <tr><td>Network: {{ one_show.network }}</td></tr>
            <tr></tr>
            <tr><td>Release Date: {{ one_show.date }}</td></tr>
            <tr></tr>
            <tr><td>Description:<br>{{ one_show.description }}</td></tr>
            <tr></tr>
            <tr><td>Posted By: {{ one_show.maker.first_name }} {{ one_show.maker.last_name }}</td></tr>
        </table>
    </div>
    </div>
</body>
</html>